.showBox {
  width:700px;
  font-size: 30px;
  font-weight: 550;
  text-align: center;
  color: rgba(10,10,10,.92);
  border:0;
  background-color : rgba(117,113,113,.22);
  margin-bottom:40px
}
button, input[type="button"] {
    cursor:pointer;
}
.showBox:hover {
  color:rgba(37,37,37,.66);
  transition: color .15s linear;
}
.appear {
  animation : fadeIn 1s linear;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}
